<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bon.modules.sys.dao.UserExtendMapper">
    <select id="getRoleByUsername" resultType="com.bon.modules.sys.domain.entity.Role">
        select
        *
        from role r
        INNER JOIN user_role ur ON ur.role_id = r.role_id
        INNER JOIN user u ON u.user_id = ur.user_id AND username = #{username}
      </select>
    <select id="getPermissionByRoleFlag" resultType="com.bon.modules.sys.domain.entity.Permission">
        select
        p.*
        from permission p
        INNER JOIN role_permission rp ON rp.permission_id = p.permission_id
        INNER JOIN role r ON rp.role_id = r.role_id AND role_flag = #{roleFlag} group by p.permission_id
    </select>
    <select id="getMenuByUsername" resultType="com.bon.modules.sys.domain.entity.Permission">
        SELECT
        p.*
        FROM permission p
        INNER JOIN role_permission rp ON p.permission_id = rp.permission_id AND p.`type`='00' AND p.object_parent=0
        INNER JOIN role r ON r.role_id = rp.role_id
        INNER JOIN user_role ur ON ur.role_id = r.role_id
        INNER JOIN USER u ON u.user_id = ur.user_id AND u.username = #{username} group by p.object_id
    </select>

    <select id="getAllPermission" resultType="com.bon.modules.sys.domain.vo.PermissionVO">
        select
        p.*
        from permission p
    </select>

    <select id="getByUsername" resultType="com.bon.modules.sys.domain.entity.User">
        select
        *
        from user where username = #{username}
    </select>
</mapper>