<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bon.wx.dao.SysBaseMapper">
  <resultMap id="BaseResultMap" type="com.bon.wx.domain.entity.SysBase">
    <constructor>
      <idArg column="sys_base_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="gmt_create" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="gmt_modified" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="table_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="table_remark" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="filed_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="filed_type" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="filed_length" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_null" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="is_unique" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="default_value" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="filed_remark" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    sys_base_id, gmt_create, gmt_modified, table_name, table_remark, filed_name, filed_type, 
    filed_length, is_null, is_unique, default_value, filed_remark
  </sql>
  <select id="getById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_base
    where sys_base_id = #{sysBaseId,jdbcType=BIGINT}
  </select>
</mapper>